*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(3, 21, 43);
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.hero-content {
    width: 100%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-content:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.6s ease;
}

h1 {
    
    margin-top: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-container {
    padding: 2rem;
    margin: auto;
    max-width: 100%;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.movie-card {
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
    color: white;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
}

.movie-card .mDescription {
    font-size: 0.9rem;
    text-align: justify;
    padding: 0.5rem;
}

.movie-card .movie-poster {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.movie-card img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}

.footer {
    padding-top: 10px;
    text-align: center;
    background-color: black;
    color: white;
    height: 80px;
}